# Survived Titanic 08/10/2019 (Baseline)

Step 1 Get Problem : Predict Servived in Titanic

In [1]:
pwd

'/Users/ruxpolth.'

In [2]:
cd /Users/ruxpolth./BOTNOI Titanic

/Users/ruxpolth./BOTNOI Titanic

In [3]:
pwd

'/Users/ruxpolth./BOTNOI Titanic'

Step 2 Get data

In [4]:
import pandas as pd
data = pd.read_csv("train.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 12 columns):
PassengerId    712 non-null int64
Survived       712 non-null int64
Pclass         712 non-null int64
Name           712 non-null object
Sex            712 non-null object
Age            566 non-null float64
SibSp          712 non-null int64
Parch          712 non-null int64
Ticket         712 non-null object
Fare           712 non-null float64
Cabin          167 non-null object
Embarked       710 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 66.8+ KB

In [5]:
##จากด้านบน จะเห็น Missing Value ใน Columns (Age,Cabin,Emblarked)

In [6]:
data.head(11)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,75,1,3,"Bing, Mr. Lee",male,32.0,0,0,1601,56.4958,NaN,S
1,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.0,0,0,A/5 3540,8.0500,NaN,S
2,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.0,4,2,347077,31.3875,NaN,S
3,634,0,1,"Parr, Mr. William Henry Marsh",male,NaN,0,0,112052,0.0000,NaN,S
4,844,0,3,"Lemberopolous, Mr. Peter L",male,34.5,0,0,2683,6.4375,NaN,C
5,389,0,3,"Sadlier, Mr. Matthew",male,NaN,0,0,367655,7.7292,NaN,Q
6,757,0,3,"Carlsson, Mr. August Sigfrid",male,28.0,0,0,350042,7.7958,NaN,S
7,450,1,1,"Peuchen, Major. Arthur Godfrey",male,52.0,0,0,113786,30.5000,C104,S
8,408,1,2,"Richards, Master. William Rowe",male,3.0,1,1,29106,18.7500,NaN,S
9,787,1,3,"Sjoblom, Miss. Anna Sofia",female,18.0,0,0,3101265,7.4958,NaN,S
10,377,1,3,"Landergren, Miss. Aurora Adelia",female,22.0,0,0,C 7077,7.2500,NaN,S

In [7]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,712.000000,712.000000,712.000000,566.000000,712.000000,712.000000,712.000000
mean,449.515449,0.383427,2.296348,29.704806,0.515449,0.376404,32.577100
std,255.061642,0.486563,0.832253,14.603712,1.093280,0.800073,51.860649
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,230.750000,0.000000,2.000000,21.000000,0.000000,0.000000,7.895800
50%,448.500000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.250000,1.000000,3.000000,37.000000,1.000000,0.000000,31.068750
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
import pandas as pd
import numpy as np

def getdata(csvFile):
    dat = pd.read_csv(csvFile)
    return dat

Step 3 Preprocess Data

In [9]:
def split_data_and_label(dat):
    label = dat['Survived'].values
    dat = dat.drop('Survived',axis=1)
    return label,dat

Step 4 Feature Extraction

In [10]:
def feature_extraction(featMat):
    featMat = featMat._get_numeric_data()
    featMat = featMat.fillna(0)
    return featMat

Step 5 Model train

In [11]:
from sklearn.ensemble import GradientBoostingClassifier

def trainclassifer(feat,label):
    mod = GradientBoostingClassifier()
    mod.fit(feat,label)
    return mod

Step 6 Model evaluate

In [12]:
def evaluation_accuracy(prediction,actual):
    acc = sum(prediction==actual)/len(prediction)
    return acc

Step 7 Run pipeline

In [13]:
def pipeline():
    
    csvFile = 'train.csv'
    tldat = getdata(csvFile)
    trainLabel,trainDat = split_data_and_label(tldat)
    trainFeat = feature_extraction(trainDat)
    
    csvFile = 'test.csv'
    tldat = getdata(csvFile)
    testLabel,testDat = split_data_and_label(tldat)
    testFeat = feature_extraction(testDat)
    
    mod = trainclassifer(trainFeat,trainLabel)
    res = mod.predict(testFeat)
    return evaluation_accuracy(res,testLabel)

In [14]:
pipeline()

0.6927374301675978

In [15]:
csvFile = 'train.csv'
tldat = getdata(csvFile)
trainLabel,trainDat = split_data_and_label(tldat)
trainFeat = feature_extraction(trainDat)
    
csvFile = 'test.csv'
tldat = getdata(csvFile)
testLabel,testDat = split_data_and_label(tldat)
testFeat = feature_extraction(testDat)
    
mod = trainclassifer(trainFeat,trainLabel)
res = mod.predict(testFeat)

In [16]:
feat_imp = pd.DataFrame()
feat_imp['FeatName'] = trainFeat.columns
feat_imp['score'] = mod.feature_importances_

In [17]:
feat_imp.sort_values(by = 'score', ascending=False)[:10]

      FeatName     score
5         Fare  0.276796
0  PassengerId  0.262275
1       Pclass  0.208786
2          Age  0.156323
3        SibSp  0.057110
4        Parch  0.038709